<div ng-include="'views/helpNav.html'"></div>
<h1>Grip Options</h2>


<form name="frmStep3"
    ng-submit="submitStep3()" novalidate>

    <section class="step3">

    	Hand Length: 
      <select name="handLength" ng-model="handLength" ng-required="true">
        <option ng-repeat="h in handLengthMeasurement" value="{{h}}" ng-selected="{{h == handLength}}">{{h}}</option>   
    	</select>''
    	
      <p 
        ng-show="frmStep3.handLength.$invalid && frmStep3.handLength.$touched">
        Hand Length is a required field</p>

      <br/>

      Longest Finger:
      <select name="longestFinger" ng-model="longestFinger" ng-required="true">
        <option ng-repeat="f in longestFingerMeasurement" value="{{f}}" ng-selected="{{f == longestFinger}}">{{f}}</option>   
      </select>''
      
      <p 
        ng-show="frmStep3.longestFinger.$invalid && frmStep3.longestFinger.$touched">
        Longest Finger is a required field</p>

	</section>

	<button type="submit"
  		ng-disabled="frmStep3.$invalid">Next</button>
  	<br/>
  	<a ng-href="#/intro">Back to Intro</a>
</form>