<div ng-include="'views/helpNav.html'"></div>
<h1>Profile</h2>

<form name="frmStep1"
    ng-submit="submitStep1()" novalidate>

    <section class="step1">

    	Select your height: 
	    <select name="feet" ng-model="feet" ng-required="true">
	      <option ng-repeat="f in feetMeasurement" value="{{f}}" ng-selected="{{f == feet}}">{{f}}</option>
		</select>'
		<select name="inches" ng-model="inches" ng-required="true">
	      <option ng-repeat="i in inchesMeasurement" value="{{i}}" ng-selected="{{i == inches}}">{{i}}</option>
		</select>''
		
	    <p ng-show="frmStep1.feet.$invalid && frmStep1.feet.$touched">
	      Feet is a required field</p>

	    <p ng-show="frmStep1.inches.$invalid && frmStep1.inches.$touched">
	      Inches is a required field</p>

	    <br/>

	    Select your wrist to floor: 
	    <select name="wrist" ng-model="wrist" ng-required="true">
	      <option ng-repeat="w in wristMeasurement" value="{{w}}" ng-selected="{{w == wrist}}">{{w}}</option>
		</select>''
		<select name="wrist2" ng-model="wrist2">
	      <option ng-repeat="w in wrist2Measurement" value="{{w}}" ng-selected="{{w == wrist2}}">{{w}}</option>
		</select>
		
	    <p ng-show="frmStep1.wrist.$invalid && frmStep1.wrist.$touched">
	      Wrist to floor is a required field</p>

	    <br/>

	    Golf Handedness:
	    <input type="radio" ng-model="dexterity" value="right">Right
	    <input type="radio" ng-model="dexterity" value="left">Left

	    <br/>

	    Gender:
	    <input type="radio" ng-model="gender" value="male">Male
	    <input type="radio" ng-model="gender" value="female">Female

	</section>

	<button type="submit" 
  		ng-disabled="frmStep1.$invalid">Next</button>
  	<br/>
  	<a ng-href="#/intro">Back to Intro</a>
</form>