<div ng-include="'views/helpNav.html'"></div>
<h1>Profile</h2>

<form name="frmStep1"
    ng-submit="submitStep1()" novalidate>

    <section class="step1">

		Dexterity:
	    <input type="radio" ng-model="model.dexterity" value="right">Right
	    <input type="radio" ng-model="model.dexterity" value="left">Left

	    <br/>

    	Select your height: 
	    <select name="feet" ng-model="model.feet" ng-required="true" ng-change="updateBackground($element)">
	      <option ng-repeat="f in feetMeasurement" value="{{f}}" ng-selected="{{f == model.feet}}">{{f}}</option>
		</select>'
		<select name="inches" ng-model="model.inches" ng-required="true" ng-change="updateBackground($element)">
	      <option ng-repeat="i in inchesMeasurement" value="{{i}}" ng-selected="{{i == model.inches}}">{{i}}</option>
		</select>''
		
	    <p ng-show="frmStep1.feet.$invalid && frmStep1.feet.$touched">
	      Feet is a required field</p>

	    <p ng-show="frmStep1.inches.$invalid && frmStep1.inches.$touched">
	      Inches is a required field</p>

	    <br/>

	    Select your wrist to floor: 
	    <select name="wrist" ng-model="model.wrist" ng-required="true" ng-change="updateBackground($element)">
	      <option ng-repeat="attribute in attributeValues.wristToFloorValues | orderBy:'attrValue'" value="{{attribute.attrValue}}" ng-selected="{{attribute.attrValue == model.wrist}}">{{attribute.attrValue}}</option>
		</select>
		
	    <p ng-show="frmStep1.wrist.$invalid && frmStep1.wrist.$touched">
	      Wrist to floor is a required field</p>

	    <br/>

	    Additional Clubs Desired:
	    <label ng-repeat="club in configValues.clubsValues">
	        <input type="checkbox" name="clubs" ng-model="model.clubs" ng-change="updateBackground($element)"> {{club.value}} 
	    </label>

	</section>

	<button type="submit" 
  		ng-disabled="frmStep1.$invalid">Proceed to Shaft Type</button>
  	
</form>