<div ng-include="'views/helpNav.html'"></div>
<h1>Shaft Options</h2>


<form name="frmStep2"
    ng-submit="submitStep2()" novalidate>

    <section class="step2">

    	{{distanceQuestion}}: 
      <select name="driverDistance" ng-model="driverDistance" ng-required="true">
          <option ng-repeat="t in trajectoryMeasurement" value="{{t}}" ng-selected="{{t == driverDistance}}">{{t}}</option>
    	</select>
    	
      <p ng-show="frmStep2.driverDistance.$invalid && frmStep2.driverDistance.$touched">
        {{distanceQuestion}} is a required field</p>

	</section>

	<button type="submit" 
  		ng-disabled="frmStep2.$invalid">Next</button>
  	<br/>
  	<a ng-href="#/intro">Back to Intro</a>
</form>