<div ng-include="'views/helpNav.html'"></div>
<h1>Grip Options</h2>


<form name="frmStep3"
    ng-submit="submitStep3()" novalidate>

    <section class="step3">

      Select a Grip Type: 
      <select name="gripType" ng-model="model.gripType" ng-required="true" ng-change="updateBackground($element)">
          <option ng-repeat="attribute in configValues.gripValues" value="{{attribute}}" ng-selected="{{attribute == gripType}}">{{attribute.value}}</option>
      </select>
      
      <p 
        ng-show="frmStep3.gripType.$invalid && frmStep3.gripType.$touched">
        Grip type is a required field</p>

      <br/>

    	Hand Length: 
      <select name="handLength" ng-model="model.handLength" ng-required="true" ng-change="updateBackground($element)">
        <option ng-repeat="attribute in attributeValues.handLengthValues | orderBy:'attrValue'" value="{{attribute.attrValue}}" ng-selected="{{attribute.attrValue == handLength}}">{{attribute.attrValue}}</option>   
    	</select>
    	
      <p 
        ng-show="frmStep3.handLength.$invalid && frmStep3.handLength.$touched">
        Hand Length is a required field</p>

      <br/>

      Longest Finger:
      <select name="longestFinger" ng-model="model.longestFinger" ng-required="true" ng-change="updateBackground($element)">
        <option ng-repeat="f in longestFingerMeasurement" value="{{f}}" ng-selected="{{f == longestFinger}}">{{f}}</option>   
      </select>''
      
      <p 
        ng-show="frmStep3.longestFinger.$invalid && frmStep3.longestFinger.$touched">
        Longest Finger is a required field</p>

	</section>

	<button type="submit"
  		ng-disabled="frmStep3.$invalid">Review & Purchase</button>
  	<br/>
  	<a ng-href="#/intro">Back to Intro</a>
</form>