<div ng-show="helpPage">
    <div ng-include="'views/helpNav.html'"></div>
</div>

<h1>{{configValues.product.catalogEntryView[0].shortDescription}}</h2>

<form name="frmSpecs"
    ng-submit="addToCart()" novalidate>

    <section class="itemSpecs">

	    <h2>Select Customizations</h2>

	    Shaft Type: <select name="shaftType" ng-model="shaftType" ng-required="true">
	      <option ng-repeat="attribute in configValues.shaftTypeValues" value="{{attribute.value}}">{{attribute.value}}</option>
		</select>
		
	    <p 
	      ng-show="frmSpecs.shaftType.$invalid && frmSpecs.shaftType.$touched">
	      Shaft type is a required field</p>

	    <br/>

	    Shaft Flex: <select name="shaftFlex" ng-model="shaftFlex" ng-required="true">
	      <option ng-repeat="attribute in configValues.shaftFlexValues" value="{{attribute.value}}">{{attribute.value}}</option>
		</select>
		
	    <p 
	      ng-show="frmSpecs.shaftFlex.$invalid && frmSpecs.shaftFlex.$touched">
	      Shaft flex is a required field</p>

	    <br/>

	    Lie Angle: <select name="lieAngle" ng-model="lieAngle" ng-required="true">
	      <option ng-repeat="attribute in configValues.lieAngleValues" value="{{attribute.value}}">{{attribute.value}}</option>
		</select>
		
	    <p 
	      ng-show="frmSpecs.lieAngle.$invalid && frmSpecs.lieAngle.$touched">
	      Lie Angle is a required field</p>

	    <br/>

	    Shaft Length: <select name="shaftLength" ng-model="shaftLength" ng-required="true">
	      <option ng-repeat="attribute in configValues.shaftLengthValues" value="{{attribute.value}}">{{attribute.value}}</option>
		</select>
		
	    <p 
	      ng-show="frmSpecs.shaftLength.$invalid && frmSpecs.shaftLength.$touched">
	      Shaft Length is a required field</p>

	    <br/>

	    Grip: <select name="grip" ng-model="grip" ng-required="true">
	      <option ng-repeat="attribute in configValues.gripValues" value="{{attribute.value}}">{{attribute.value}}</option>
		</select>
		
	    <p 
	      ng-show="frmSpecs.grip.$invalid && frmSpecs.grip.$touched">
	      Grip is a required field</p>

	     <br/>

	     Grip Size: <select name="gripSize" ng-model="gripSize" ng-required="true">
	      <option ng-repeat="attribute in configValues.gripSizeValues" value="{{attribute.value}}">{{attribute.value}}</option>
		</select>
		
	    <p 
	      ng-show="frmSpecs.gripSize.$invalid && frmSpecs.gripSize.$touched">
	      Grip Size is a required field</p>

	     <br/>

	    Clubs:
	    <label ng-repeat="club in configValues.clubsValues">
	        <input type="checkbox" ng-model="clubs" value="{{club.value}}"> {{club.value}} 
	    </label>

	    <br/>

	    Dexterity:
	    <input type="radio" ng-model="dexterity" value="right">Right
	    <input type="radio" ng-model="dexterity" value="left">Left

    	<br/>

    	Comments:
    	<textarea ng-model="item.comments"></textarea>

	</section>

	<hr>

    <section class="itemTotal">
    	<h2>Club Specifications and Cost</h2>
    	<ul>
    		<li>Shaft Type: {{shaftType}}</li>
    		<li>Shaft Flex: {{shaftFlex}}</li>
    		<li>Lie Angle: {{lieAngle}}</li>
    		<li>Shaft Length: {{shaftLength}}</li>
    		<li>Grip: {{grip}}</li>
    		<li>Grip Size: {{gripSize}}</li>
    		<li>Clubs: {{clubs}}</li>
    		<li>Dexterity: {{dexterity}}</li>
    	</ul>
    	Base Club Price
    	<br/>
    	Total Options
    	<br/>
    	Total with Adjustments
    </section>

	<button type="submit" class="btn"
  		ng-disabled="frmSpecs.$invalid">Add to Cart</button>
  	<br/><br/>
  	<a ng-href="#/intro">Back to Intro</a>
</form>	

<h2>Custom club orders are placed directly with the manufacturer.  Please allow approximately 3-4 weeks for delivery.</h2>
<h3>Cancellations or changes must be made within 24 hours of placing your order by emailing <a href="mailto:customclubs@tgw.com">customclubs@tgw.com</a>.  After 24 hours, the order cannot be modified or canceled.</h3>